html {
  background-color: gray;
}

.App {
  max-width: 550px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: white;
}

.header {
  background-color: black;
  /* 헤더 고정 해야됨 */
}

.header__container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container__logo {
  width: 150px;
}

.search__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search__input {
  width: 99%;
  height: 30px;
  border-radius: 20px 20px 20px 20px;
  border: none;
  font-size: 14px;
  margin-bottom: 10px;
}

.search__icon {
  margin: 0;
  padding: 0;
  position: relative;
  top: 8px;
  right: 30px;
}

.event__bar {
  display: flex;
  position: relative;
  overflow: hidden;
}

.event__bar__img1 {
  width: 100%;
}
.event__bar__img2 {
  width: 100%;
}
.event__bar__img3 {
  width: 100%;
}

.slick__before {
  position: absolute;
  top: 220px;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: transform 200ms ease-in;
}
.slick__before:hover {
  transform: scale(1.5);
}

.slick__next {
  position: absolute;
  top: 220px;
  left: 92.5%;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: transform 200ms ease-in;
}
.slick__next:hover {
  transform: scale(1.5);
}

.item__group {
  display: flex;
  overflow: auto;
}

.item__all {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  flex: 0 0 auto;
  margin: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.item__top {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  flex: 0 0 auto;
  margin: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.item__jacket {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  flex: 0 0 auto;
  margin: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.item__pants {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  flex: 0 0 auto;
  margin: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.item__shoes {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  flex: 0 0 auto;
  margin: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.item__bag {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  flex: 0 0 auto;
  margin: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.item__small {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  flex: 0 0 auto;
  margin: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.item__other {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  flex: 0 0 auto;
  margin: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.item__menu {
  display: flex;
  flex: 1 1 40%;
  justify-content: center;
  border-bottom: solid 1px darkgray;
}

.product {
  background-color: white;
  color: gray;
  flex: 1 1 40%;
  width: 120px;
  height: 50px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.productOn {
  color: black;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.product:hover {
  color: black;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.shoping__mall {
  background-color: white;
  color: gray;
  flex: 1 1 40%;
  width: 120px;
  height: 50px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.shoping__mall:hover {
  color: black;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.brand {
  background-color: white;
  color: gray;
  flex: 1 1 40%;
  width: 120px;
  height: 50px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.brand:hover {
  color: black;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.products__list {
  width: 50%;
  display: inline-block;
}

.products__card {
  padding: 8px;
}

.items__img {
  border-radius: 6%;
  box-shadow: 2px 1px 7px 0px;
}

.mall__list {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: solid 1px;
}

.mall__info {
  padding: 10px;
}

.mall__card {
  padding: 10px;
}

.brand__list {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: solid 1px;
}

.brand__info {
  padding: 10px;
}

.brand__card {
  padding: 10px;
}

.slick-next {
  right: 20px;
}

.tab__cards {
  width: 50%;
  display: inline-block;
}

.card__img__area {
  padding: 8px;
}

.card__img {
  width: 100%;
  border-radius: 6%;
  box-shadow: 2px 1px 7px 0px;
}
