html {
  background-color: gray;
}

.App {
  max-width: 550px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: white;
}

.header {
  background-color: black;
  /* 헤더 고정 해야됨 */
}

.header__container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container__logo {
  width: 150px;
}

.search__container {
  width: 100%;
}

.search__input {
  width: 99%;
  height: 30px;
  border-radius: 20px 20px 20px 20px;
  border: none;
  font-size: 14px;
  margin-bottom: 10px;
}

.event__bar {
  display: flex;
  position: relative;
  overflow: hidden;
}

.event__bar__img1 {
  width: 100%;
}
.event__bar__img2 {
  width: 100%;
}
.event__bar__img3 {
  width: 100%;
}

.slick__before {
  position: absolute;
  top: 220px;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: transform 200ms ease-in;
}
.slick__before:hover {
  transform: scale(1.5);
}

.slick__next {
  position: absolute;
  top: 220px;
  left: 92.5%;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: transform 200ms ease-in;
}
.slick__next:hover {
  transform: scale(1.5);
}

.item__group {
  display: flex;
  overflow: auto;
}

.item__all {
  flex: 0 0 auto;
  margin: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: red;
}

.item__top {
  flex: 0 0 auto;
  margin: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: orange;
}

.item__jacket {
  flex: 0 0 auto;
  margin: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: yellow;
}

.item__pants {
  flex: 0 0 auto;
  margin: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: green;
}

.item__shoes {
  flex: 0 0 auto;
  margin: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: blue;
}

.item__makeup {
  flex: 0 0 auto;
  margin: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: navy;
}

.item__bag {
  flex: 0 0 auto;
  margin: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: purple;
}

.item__small {
  flex: 0 0 auto;
  margin: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: black;
}

.item__other {
  flex: 0 0 auto;
  margin: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: darkturquoise;
}

.item__menu {
  display: flex;
  flex: 1 1 40%;
  justify-content: center;
}

.product {
  flex: 1 1 40%;
  width: 120px;
  height: 50px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.shoping__mall {
  flex: 1 1 40%;
  width: 120px;
  height: 50px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.brand {
  flex: 1 1 40%;
  width: 120px;
  height: 50px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.products__list {
  width: 50%;
  display: inline-block;
}

.mall__list {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}

.brand__list {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}

.slick-next {
  right: 20px;
}
